@import "_variable.scss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #077054 !important;
}

header{
  a{
    color: $green-light;
    font-size: 40px;
    flex-direction: column;
    padding: 30px 0px;

    span{
      color: $blue-light;
      font-size: 26px;
    }
  }


    ul{
      list-style: none;
      max-width: 960px;
      
      li{
        a{
          font-size: 20px !important;
          color: $blue-light;
          text-decoration: none;

          &:hover{
            color: #d3a3ff;
          }

          &.active{
            color: $green-light !important;
          }
        }


      }
    }
}

main{
  max-width: 880px;
  min-height: 900px;

  .container{
    padding: 45px 40px 46px ;
    .row{
      padding: 110px 0px 0px 25px;

      .row-para{
        .index-para-1{
          font-size: 100px;
          color: $green-light;
          background: url("../image/bg-separator.png") no-repeat center bottom;
        }
        .index-para-2{
          font-size: 100px;
          line-height: 100px;
          color: $green-light;
        }
      }
    }
    
  }
}